<script>
//document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "="); });
</script>
<script src="/__js/delete-all-cookies/index.js"></script>

<script>
  deleteAllCookies(window)
location.href = '/';
</script>
